{% extends "base.html" %}
{% block title %}Inicio - NutriApp{% endblock %}
{% block content %}
  <div class="text-center">
    <h1>Bienvenido a NutriApp</h1>
    <p class="lead">Tu espacio para aprender sobre nutricion, salud y recetas balanceadas.</p>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <img src="{{ url_for('static', filename='frutas.jpg') }}" class="card-img-top" alt="Frutas saludables">
        <div class="card-body">
          <h5 class="card-title">Comida saludable</h5>
          <p>Una alimentación saludable proporciona al cuerpo los nutrientes y la energía que necesita para funcionar correctamente, previniendo enfermedades como la diabetes y la obesidad. Esto se logra consumiendo una variedad de alimentos, como frutas, verduras, cereales integrales, proteínas magras y lácteos bajos en grasa, al mismo tiempo que se limitan azúcares añadidos, grasas saturadas y sodio. Es importante seleccionar y preparar los alimentos de forma equilibrada y variada, según las necesidades individuales</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img src="{{ url_for('static', filename='agua.jpg') }}" class="card-img-top" alt="Vaso de agua">
        <div class="card-body">
          <h5 class="card-title">Bienestar diario</h5>
          <p>El bienestar diario depende de una hidratación adecuada, que incluye beber suficientes líquidos a lo largo del día. Las cantidades recomendadas varían (por ejemplo, ~3.7 L para hombres y ~2.7 L para mujeres), pero en general se aconseja entre 2 y 3 litros. Mantenerse hidratado mejora la función cognitiva, física y renal, previene problemas como el estreñimiento y las infecciones del tracto urinario, y se puede complementar con el consumo de frutas y verduras ricas en agua. </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}