{% extends "base.html" %}
{% block title %}Recetas Saludables{% endblock %}
{% block content %}
<h2 class="text-center text-success">Banco de Recetas</h2>
<div class="row mt-3">
  <div class="col-md-4">
    <div class="card">
      <img src="{{ url_for('static', filename='receta.jpg') }}" class="card-img-top">
      <div class="card-body">
        <h5>Ensalada de quinoa</h5>
        <p>Ideal para principiantes: saludable, fresca y rapida de preparar.</p>
      </div>
    </div>
  </div>
</div>
  <div class="col-md-4">
  <div class="card">
      <p>Ingredientes <br>
1 taza de quinoa <br>
2 tazas de agua <br>
1 taza de tomates cherry, cortados por la mitad <br>
1 taza de pepino cortado en cuadritos <br>
1/4 taza de aceitunas kalamata cortadas en cuartos <br>
1/4 taza de queso feta <br>
3 cucharadas de aceite de oliva extra virgen <br>
1 1/2 cucharada vinagre roja <br>
3/4 cucharadita de orégano seco <br>
1/4 cucharadita de sal <br>
1/4 cucharadita de pimienta molida</p>
      <div class="card-body">

  <div class="col-md-12">
  <div class="card">
      <p>Instrucciones <br>
1- En una cacerola mediana, combina la quinoa y el agua. Déjala hervir hasta que toda el agua se absorba, de 15 a 20 minutos.<br>
2- Transfiere la quinoa cocida a una bandeja para hornear y extiéndela uniformemente, ya que ayudará a que se enfríe más rápido. Una vez fría, coloca la quinoa en un tazón mediano y agrega los tomates, pepino, aceitunas y queso feta. Mezcla suavemente. <br>
3- Para el aderezo o aliño mezcla en un tazón pequeño aceite de oliva, vinagre roja, orégano, sal y pimienta. Sírvelo sobre la ensalada y mezcla todo uniformemente. <br>
<p>

{% endblock %}