{% extends "base.html" %}

{% block content %}
<h2>Herramientas Nutricionales</h2>

<p>Calculadoras, guias y recursos para medir tu progreso.</p>

<a href="http://127.0.0.1:5000/macro">
  <button>Macro Nutrientes</button>
</a><br>
<br>
<a href="http://127.0.0.1:5000/peso">
  <button>Peso Ideal</button>
</a><br>
<br>
<a href="http://127.0.0.1:5000/imc">
  <button>Indice de Masa Corporal (IMC)</button>
</a><br>
<br>
<a href="http://127.0.0.1:5000/gct">
  <button>Porcentaje de Grasa Corporal Total (GCT)</button>
</a><br>
<br>
<a href="http://127.0.0.1:5000/tmb">
  <button>Tasa Metabólica Basal (TMB)</button>
</a><br>

{% endblock %}
