{% extends "base.html" %}
{% block title %}Educacion Nutricional{% endblock %}
{% block content %}

<h2 class="text-center text-success">Banco de Recetas</h2>

<div class="row mt-3">

  <div class="col-md-6">
    <div class="card">
      <img src="{{ url_for('static', filename='receta1.jpg') }}" class="card-img-top">
      <div class="card-body">
        <h5>Ensalada de quinoa</h5>
        <p>Ideal para principiantes: saludable, fresca y rapida de preparar.</p>
        <h5>ingredientes</h5>
1 taza de quinoa <br>
2 tazas de agua <br>
1 taza de tomates cherry, cortados por la mitad <br>
1 taza de pepino cortado en cuadritos <br>
1/4 taza de aceitunas kalamata cortadas en cuartos <br>
1/4 taza de queso feta <br>
3 cucharadas de aceite de oliva extra virgen <br>
1 1/2 cucharada vinagre roja <br>
3/4 cucharadita de orégano seco <br>
1/4 cucharadita de sal <br>
1/4 cucharadita de pimienta molida <br>
        <h5>Instrucciones</h5>
1- Cocina la quinoa en agua hasta que se absorba. <br>
2- Mezcla quinoa fría con verduras y queso. <br>
3- Mezcla aceite, vinagre y especias; agrega a la ensalada. <br>
<br><br><br>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <img src="{{ url_for('static', filename='receta2.jpg') }}" class="card-img-top">
      <div class="card-body">
        <h5>Salmon al Horno con Verduras</h5>
        <p>Platillo equilibrado, nutritivo y lleno de sabor.</p>
        <h5>ingredientes</h5>
4 supremas de salmón <br>
8 ramitas de brócoli bimi <br>
8 cebolletas <br>
100 g de tirabeques <br>
1 zanahoria <br>
1/2 limón <br>
50 ml de aceite de sésamo <br>
Sal <br>
Aceite <br>
Semillas de sésamo <br>
        <h5>Instrucciones</h5>
1- Lava y corta verduras. <br>
2- Limpia los lomos de salmón. <br>
3- Pon verduras y salmón en papillote. <br>
4- Hornea 15 min a 200°. <br>
5- Prepara vinagreta de limón y sésamo. <br>
6- Sirve caliente con la vinagreta. <br>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <img src="{{ url_for('static', filename='receta3.jpg') }}" class="card-img-top">
      <div class="card-body">
        <h5>Pollo a la plancha con vegetales</h5>
        <p>Ideal para principiantes: saludable, ligero y fácil de preparar.</p>
        <h5>ingredientes</h5>
1 pechuga de pollo sin piel <br>
1 taza de brócoli <br>
1 zanahoria rebanada <br>
1/2 taza de calabacitas <br>
1 cucharada de aceite de oliva <br>
1 cucharadita de ajo en polvo <br>
1/2 cucharadita de sal <br>
1/2 cucharadita de pimienta <br>
1/2 cucharadita de paprika <br>
        <h5>Instrucciones</h5>
1- Sazona el pollo. <br>
2- Cocínalo 5–6 min por lado. <br>
3- Saltea los vegetales. <br>
4- Sirve junto. <br>
<br><br><br>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <img src="{{ url_for('static', filename='receta4.jpg') }}" class="card-img-top">
      <div class="card-body">
        <h5>Salmón al horno con espárragos</h5>
        <p>Rico en omega-3, ligero y perfecto como comida principal.</p>
        <h5>ingredientes</h5>
1 filete de salmón <br>
1 taza de espárragos <br>
1 cucharada de aceite de oliva <br>
1 cucharadita de limón <br>
Ajo en polvo <br>
Sal <br>
Pimienta <br>
        <h5>Instrucciones</h5>
1- Precalienta a 200°C. <br>
2- Coloca salmón y espárragos en bandeja. <br>
3- Agrega aceite, limón y especias. <br>
4- Hornea 15–18 min. <br>
<br><br><br>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <img src="{{ url_for('static', filename='receta5.jpg') }}" class="card-img-top">
      <div class="card-body">
        <h5>Tazón de yogur con frutas</h5>
        <p>Ideal para desayuno: rápido, nutritivo y lleno de energía.</p>
        <h5>ingredientes</h5>
1 taza de yogur natural <br>
1/2 taza de fresas <br>
1/2 taza de plátano <br>
2 cucharadas de avena <br>
1 cucharada de miel <br>
1 cucharada de chía <br>
        <h5>Instrucciones</h5>
1- Coloca el yogur en un tazón. <br>
2- Añade frutas. <br>
3- Agrega avena, miel y chía. <br>
4- Sirve frío. <br>
<br><br><br>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <img src="{{ url_for('static', filename='receta6.jpg') }}" class="card-img-top">
      <div class="card-body">
        <h5>Tacos de lechuga con carne magra</h5>
        <p>Alternativa baja en carbohidratos, deliciosa y fácil.</p>
        <h5>ingredientes</h5>
200 g de carne magra <br>
4 hojas de lechuga <br>
1/4 taza de cebolla <br>
1/4 taza de jitomate <br>
Ajo en polvo <br>
Sal <br>
Pimienta <br>
        <h5>Instrucciones</h5>
1- Cocina la carne. <br>
2- Lava la lechuga. <br>
3- Rellena con carne y verduras. <br>
4- Sirve frío. <br>
<br><br><br>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <img src="{{ url_for('static', filename='receta7.jpg') }}" class="card-img-top">
      <div class="card-body">
        <h5>Arroz integral con verduras</h5>
        <p>Completo, económico y nutritivo.</p>
        <h5>ingredientes</h5>
1 taza de arroz integral cocido <br>
1/2 taza de zanahoria picada <br>
1/2 taza de calabacita picada <br>
1/4 taza de elote <br>
1 cucharada de aceite <br>
Sal <br>
Pimienta <br>
        <h5>Instrucciones</h5>
1- Saltea verduras. <br>
2- Agrega arroz. <br>
3- Mezcla y sazona. <br>
4- Sirve caliente. <br>
<br><br><br>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <img src="{{ url_for('static', filename='receta8.jpg') }}" class="card-img-top">
      <div class="card-body">
        <h5>Wrap de atún saludable</h5>
        <p>Práctico, rápido y perfecto como lunch.</p>
        <h5>ingredientes</h5>
1 lata de atún <br>
1 tortilla integral <br>
Lechuga picada <br>
Jitomate picado <br>
Mayonesa light <br>
Limón <br>
        <h5>Instrucciones</h5>
1- Mezcla atún con mayonesa y limón. <br>
2- Agrega verduras. <br>
3- Enrolla. <br>
4- Sirve al momento. <br>
<br><br><br>
      </div>
    </div>
  </div>

</div>

{% endblock %}
