{% extends "base.html" %}
{% block content %}
<h2>Calculadora de TMB</h2>

<form method="POST">
    <input type="number" name="peso" placeholder="Peso (kg)">
    <input type="number" name="altura" placeholder="Altura (cm)">
    <input type="number" name="edad" placeholder="Edad">
    <select name="sexo">
        <option value="hombre">Hombre</option>
        <option value="mujer">Mujer</option>
    </select>

    <button type="submit">Calcular</button>
</form>

{% if resultado %}
<p>Tu TMB es: {{ resultado }} calorías por día</p>
{% endif %}

{% endblock %}